html {
  font-family: Raleway, sans-serif;
  font-size: 240px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}

body {
  margin: 0;
  overflow: hidden;
}

body > div {
  position: absolute;
  left: 50%;
}

p {
  margin: 0;
}

.text {
  z-index: -1;
  height: 5em;
  line-height: 1.66em;
  width: 10em;
  margin: -5em;
  font-size: 0.1rem;
}

.text :nth-child(odd) {
  margin-left: 6px; /* correct centering with letter-spacing */
  font-size: 24px;
  letter-spacing: 12px;
}

.text :nth-child(even) {
  margin-left: 5px; /* correct centering with letter-spacing */
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 10px;
}

.top {
  top: 25%;
}

.bottom {
  bottom: 25%;
}

#container {
  top: 50%;
  height: 1rem;
  line-height: 0.33em;
  width: 1rem;
  box-sizing: border-box;
  margin: -0.5rem;
  border: 2px solid black;

  /* Prevents text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#blocker, #innerblocker, #container a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* #blocker can be in 3 states:
 * .blocking
 *   white background to obscure the link color behind it
 * .non-blocking
 *   transparent background to reveal the link color behind it
 * .dummy
 *   red background to simulate :visited (ensures game isn't too long)
 */
#blocker {
  z-index: 1;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.blocking #blocker, #container a {
  background-color: white;
}

/* speeds up painting */
.blocking a, .dummy a {
  display: none;
}

.dummy #blocker, #container a:visited {
  background-color: red;
}

/* #blocker inner text */
.warning {
  color: transparent;
}

.non-blocking .warning {
  color: red;
}

.blocking #ms {
  color: black;
}

#ms {
  text-transform: none;
  color: white;
}

#blocker .bottom {
  font-size: 16px;
}

.forkme {
  position: fixed;
  z-index: 9999;
  top: 38px;
  right: -60px;
  display: block;
  line-height: 2em;
  width: 200px;
  padding: 2px 12px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #ccc;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: background: 0.2s;
          transition: background 0.2s;
}

.forkme:hover {
  background: #f00;
}

.forkme::before, .forkme::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
}

.forkme::after{
  top: auto;
  bottom: 1px;
}

.sweet-alert {
  margin-left: -273px;
  padding: 17px 34px;
  font-size: 16px;
  text-transform: none;
}
